<form class="form-horizontal">
    <div class="control-group">
		<label class="control-label">{{ _('Emergency GCode:') }}</label>
        <div class="controls">
			<input type="text" data-bind="value: settings.plugins.ThermalRunaway.emergencyGcode">
        </div>
    </div>
</form>