<form class="form-horizontal">
    <div class="control-group">
        <div class="controls">
			<h3>Emergency GCode</h3>
			<!--<label class="control-label">{{ _('emergencyGcode') }}</label>-->
			<input type="text" data-bind="value: settings.plugins.ThermalRunaway.emergencyGcode">
        </div>
    </div>
</form>