<form class="form-horizontal">
    <div class="control-group">
        <div class="controls">
			<h5>Emergency GCode</h5>
			The GCode command to be sent to the printer when a thermal runaway is detected, defaults to M112 which is the Marlin Emergency Stop command
			<input type="text" data-bind="value: settings.plugins.ThermalRunaway.emergencyGcode">
			<h5>Temperatures</h5>
			Maximum amount that the bed temp is allowed to differ from the set temp before triggering a Thermal Runaway:<br/>
			<input type="text" data-bind="value: settings.plugins.ThermalRunaway.bMaxDiff">
			<br/><br/>
			Maximum amount that the hotend temp is allowed to differ from the set temp before triggering a Thermal Runaway:<br/>
			<input type="text" data-bind="value: settings.plugins.ThermalRunaway.tMaxDiff">
			<br/><br/>
			Maximum temp that the bed is allowed to reach while turned off before triggering a Thermal Runaway:<br/>
			<input type="text" data-bind="value: settings.plugins.ThermalRunaway.bMaxOffTemp">
			<br/><br/>
			Maximum temp that the hotend is allowed to reach while turned off before triggering a Thermal Runaway:<br/>
			<input type="text" data-bind="value: settings.plugins.ThermalRunaway.tMaxOffTemp">
			<br/><br/>
			Maximum time in seconds that the hotend is allowed to be outside of min/max values (set temp -/+ maximum difference) before triggering a Thermal Runaway:<br/>
			<input type="text" data-bind="value: settings.plugins.ThermalRunaway.tDelay">
			<br/><br/>
			Maximum time in seconds that the bed is allowed to be outside of min/max values (set temp -/+ maximum difference) before triggering a Thermal Runaway:<br/>
			<input type="text" data-bind="value: settings.plugins.ThermalRunaway.bDelay">
        </div>
    </div>
</form>